<div class="container">
  <center><img src="/" title="Street Performr">
  <h3><b>STREET PERFORMR</b></h3></center>
  <p>The easy way to find great street performs in your area!</p>
  <div class="landing_buttons">
    <a href="locations.html" class="button watch" >Watcher</a>
    <a href="#" class="button artist">Artist</a></br>
    <a href="locations.html" class="button location">Report a Location</a>
    <p><a href="">Learn More</a></p>
  </div>
</div>
