<div class="container">
  <center><%= image_tag 'landing_logo.png' %>
  <p>The easy way to find great street performs in your area!</p></center>
  <div class="landing_buttons">
    <a href="locations.html" class="button watch" >Watcher</a>
    <a href="#" class="button artist">Artist</a></br>
    <a href="locations.html" class="button location">Report a Location</a>
    <p><a href="">Learn More</a></p>
  </div>
</div>
