<div class="container">
  <center><img src="/" title="Street Performr">
  <h3><b>STREET PERFORMR</b></h3></center>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed blandit augue. Pellentesque non lacus tristique libero sollicitudin facilisis. </p>
  <div class="landing_buttons">
    <a href="locations.html" class="button watch" >Watcher</a>
    <a href="#" class="button artist">Artist</a></br>
    <a href="locations.html" class="button location">Report a Location</a>
    <p><a href="">Learn More</a></p>
  </div>
</div>
