<div class="container home">
  <center><%= image_tag 'http://i.imgur.com/BSxOfrn.png', class: "logo_landing" %>
  <p>The easy way to find great street performers in your area</p></center>
  <div class="landing_buttons">
    <%= link_to 'Watchers', "/locations", class: "button watch", 'data-no-turbolink' => true %>
    <a href="#" class="button artist">Artist</a></br>
    <%= link_to 'Report a Location', new_location_path, class: "button location" %>
    <p><a href="">Learn More</a></p>
  </div>
</div>
