/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ### BEGIN GLOBAL PROPERTIES ### */
html
{
        font-size: 62.5%;
}

body
{
        font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
        position: relative;
        margin: 0px;
        padding: 0px;
        min-width:1004px;
    min-height: 100%;
    line-height: 1.2;
    color: #fff;
    background-color:#333;
}

.container
{
        width: 980px;
        max-width: 100%;
        padding: 0px 12px;
        margin: 0px auto;
}

.home
{
    background-image: url('http://i.imgur.com/3sfntbb.jpg');
    background-size:250%;
    background-position: center;
}

p
{
        font-size: 16px;
        font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6
{
    font-weight:normal;
    color: #fff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1
{
        font-size: 32px;
        font-size: 3.6rem;
}

h2
{
        font-size: 28px;
        font-size: 3.2rem;
}

h3
{
        font-size: 22px;
        font-size: 2.4rem;
}

h4
{
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: bold;
}

h5
{
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: normal;
}

.container
{
        width: 980px;
        max-width: 100%;
        padding: 0px 12px;
        margin: 0px auto;
}

img { border: 0px; }

input, textarea
{
        padding: 5px;
        font-size: 1.6rem;
        font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

a
{
        text-decoration: none;
        transition: .7s;
        color: #fff;
}

a:visited {color: #fff;}

a.img:hover {background-color: none;}

ul
{
        list-style-type: none;
        list-style-position:inside;
        padding: 0px;
}

.menu
{
        height: 50px;
        background-color: #19A347;
        text-align: center;
}

.menu .logo
{
        display: inline-block;
        margin-top: -10px;
        height: 50px;
        width: auto;
}

.menu .back
{
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
}


a.button
{
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-weight: bold;
        padding: 20px 10%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}

a.button:hover
{
        opacity: .8;
}

/* ###LANDING### */
img.logo_landing
{
        width: 70%;
        max-width:300px;
}

.landing_buttons
{
        padding: 5px 0px;
        text-align: center;
}

.landing_buttons a { color: #fff; }

a.watch
{
        margin-right: 6%;
        margin-bottom:20px;
        padding: 50px 0%;
        width: 46%;
        background-color: #19A347;
        display: inline-block;
}

a.artist
{
        padding: 50px 0%;
        width: 46%;
        background-color: #CC0000;
        display: inline-block;
}

a.location
{
        width:80%;
        background-color: #ffcc33;
        color: #333;
        display: block;
}


/* ###LOCATION### */
input.search
{
        margin: 20px 0px;
        width: 98%;
}

.artist_prof
{
        border-bottom: 1px solid #ccc;
        margin: 5px 0px;
        padding: 10px 5px;
}

.artist_prof img
{
        float: left;
        width: 20%;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
}

.artist_prof ul
{
        float: right;
        width: 70%;
        margin: 0px;
}

.artist_prof li
{
}

a.load
{
        text-transform: uppercase;
}

/* ### ARTIST PROFILE ### */
img.prof_pic
{
        height: 150px;
        border-radius: 75px;
        -webkit-border-radius: 75px;
        -moz-border-radius: 75px;
        float: left;
}

a.tip
{
        margin-right: 4%;
        margin-bottom:20px;
        padding: 15px 0%;
        width: 54%;
        background-color: #19A347;
        display: inline-block;
}

a.add_location
{
        margin-bottom:20px;
        padding: 15px 0%;
        width: 40%;
        background-color: #ffcc33;
        color: 333;
        display: inline-block;
}

.reviews
{
        padding-top: 10px;
        border-top: 2px dashed #f4f4f4;
}

.review
{
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
}

.review ul
{
        width: 100%;
        margin: 0px;
}

/* ### TIP ### */
.tips
{
        text-align: center;
        height: auto;
        padding: 20px 0px;
        margin-top: 10px;
        border-top: 2px dashed #fff;
}

a.givetip
{
        width: 31%;
        padding: 20px 0px;
        background-color: #4CBFEB;
        display: inline-block;
        margin: 10px 3% 10px 0px;
        float: left;
        opacity: .5;
}

a.last { margin-right: 0px;}

a.active, a.active:hover
{
        opacity: 1;
}

a.check
{
        padding: 0px;
        margin:0px;
}

a.check img
{
        padding: 5px;
        background-color: #4CBFEB;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}

.tips input
{
        width: 80%;
        float: left;
        padding: 6px 5px;
}

.givereview
{
        padding: 10px 0px;
        border-top: 2px dashed #fff;
        border-bottom: 2px dashed #fff;
        margin: 10px 0px;
        text-align: center;
}

.givereview textarea
{
        width: 100%;
        height: 75px;
        margin: 10px 0px;
}

a.submit
{
        background-color: #ffcc33;
        width: 100%;
        padding: 10px 0px;
        display: inline-block;
        color: #333;
}

.field_header
{
        text-align: center;
}

.field input, .field textarea
{
        width: 97%;
}



input[type=submit]
{
        text-decoration: none;
        text-align: center;
        color: #333;
        font-weight: bold;
        width:100%;
        padding: 20px 10%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: #ffcc33;
        border: 1px solid #ffcc33;
}


/* ### MOBILE SCREEN ### */
@media screen and (min-width: 0px) and (max-width: 720px)
{
        .container
        {
                max-width:95%;
                margin: 0px auto;
                padding: 10px 2.5%;
        }

        body
        {
        min-width: 90%;
        }
}
